# Analysis

This notebook explores the data in the traffic dataset provided by ETHZ.

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import contextily as cx

In [13]:
# Load the data
detectors = pd.read_csv('dataset/detectors.csv')
links     = pd.read_csv('dataset/links.csv')
traffic   = pd.read_csv('dataset/smalltraffic.csv', low_memory=False)

In [14]:
detectors['det_id']  = detectors['detid']
detectors['link_id'] = detectors['linkid']
detectors['length']  = detectors['length']
detectors['type']    = detectors['fclass']
detectors['city']    = detectors['citycode']

detectors = detectors.drop(columns=['detid', 'linkid', 'length', 'fclass', 'citycode'])

In [15]:
links['link_id']  = links['linkid']
links['city'] = links['citycode']

links = links.drop(columns=['linkid', 'citycode', 'piece', 'group'])

In [16]:
traffic['interval'] = traffic['interval'].apply(lambda x: f'{x // 3600}:{x % 3600 // 60}:{x % 60}')
traffic['datetime'] = pd.to_datetime(traffic['day'] + ' ' + traffic['interval'], format='%Y-%m-%d %H:%M:%S')
traffic['det_id'] = traffic['detid']

traffic = traffic.drop(columns=['day', 'interval', 'detid', 'error'])

In [17]:
detectors = detectors[['det_id', 'link_id', 'city', 'road', 'type', 'lanes', 'limit', 'lat', 'long', 'pos']]
detectors.head()

,det_id,link_id,city,road,type,lanes,limit,lat,long,pos
0,U1-52G,72.0,augsburg,Gögginger Straße,secondary,1.0,50,48.359957,10.889553,0.005512
1,U1-51G,73.0,augsburg,Gögginger Straße,secondary,1.0,50,48.359945,10.889601,0.004013
2,U1-52L,70.0,augsburg,Gögginger Straße,secondary,1.0,50,48.359876,10.889356,0.022228
3,U1-51L,71.0,augsburg,Gögginger Straße,secondary,1.0,50,48.359862,10.889396,0.021889
4,U1-62,68.0,augsburg,Rosenaustraße,secondary,1.0,50,48.360578,10.889361,0.024465

In [18]:
links = links[['link_id', 'order', 'city', 'lat', 'long']]
links.head()

   link_id  order      city        lat       long
0        0      1  augsburg  48.361079  10.891016
1        0      2  augsburg  48.360993  10.890894
2        0      3  augsburg  48.360853  10.890642
3        0      4  augsburg  48.360719  10.890404
4        0      5  augsburg  48.360497  10.889994

In [19]:
traffic = traffic[['det_id', 'datetime', 'city', 'flow', 'occ', 'speed']]
traffic.head()

     det_id            datetime      city  flow  occ  speed
0  06.X-2li 2017-05-06 00:00:00  augsburg  12.0  0.0    NaN
1  06.X-2li 2017-05-06 00:05:00  augsburg  12.0  0.0    NaN
2  06.X-2li 2017-05-06 00:10:00  augsburg  12.0  0.0    NaN
3  06.X-2li 2017-05-06 00:15:00  augsburg  16.0  0.0    NaN
4  06.X-2li 2017-05-06 00:20:00  augsburg  16.0  0.0    NaN